body{
    margin: 0;
    padding: 0;
    background:url(sura2.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.Welcome3
{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 280px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,1,.5);
}

h2{
    margin: 0;
    padding: 0 0 20px;
    color: #07070c;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.Welcome3 input{
    width: 100%;
    margin-bottom: 30px;
}
.Welcome3 input[type="button"]
{  border: none;
    outline: none;
    height: 50px;
    color: white;
    font-size: 24px;
    background: darkcyan;
    cursor: pointer;
    border-radius: 30px;
}
.Welcome3 input[type="button"]:hover
{
    background: #a7e610;
    color: darkorchid;
}
body{
    margin: 0;
    padding: 0;
    background:url(sura2.jpg);
    background-size: cover;
    font-family: sans-serif;
}







