body{
    margin: 0;
    padding: 0;
    background:url(sura2.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.Welcome
{
    position:absolute;
    top:50%;
    left: 12%;
    transform: translate(-50%,-50%);
    width: 310px;
    height: 300px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,1,.5);
}

h2{
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 35px;

}
.Welcome input{
    width: 100%;
    margin-bottom: 20px;
}
.Welcome input[type="button"]
{  border: none;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    background: darkcyan;
    cursor: pointer;
    border-radius: 20px;
}
.Welcome input[type="button"]:hover
{
    background: #a7e610;
    color: darkorchid;
}
body{
    margin: 0;
    padding: 0;
    background:url(sura2.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.Welcome2
{
    position:absolute;
    top:50%;
    left: 85%;
    transform: translate(-50%,-50%);
    width: 310px;
    height: 300px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(7, 7, 12, 0.5);
font-size: 25px;
    font-weight: bold;
    color: white;
}






